<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Surveyor: Create Survey Page</title>
  <link rel="stylesheet" type="text/css" href="css/createSurveyStyles.css" />
  <script type="text/javascript" src="scripts/createSurvey.js"></script>
</head>

<body>
  <h2>Create New Survey</h2>

  <div class="surveyTitle">
    <input id="surveyTitle" type="text" placeholder="Survey Title">
  </div>

  <div id="questions" class="questions">

  </div>

  <div class="createSurveyControlPanel">
    <table class="panelTable">
      <tr>
        <th>Add Question</th>
      <tr>
        <td>
          <button id="mcqButton" type="button" onclick="createMCQ();">Multiple Choice</button>
          <button id="oeqButton" type="button" onclick="createOEQ();">Open Ended</button>
          <button id="ddqButton" type="button" onclick="createDDQ();">Dropdown</button>
        </td>
      </tr>
    </table>

    <button id="saveButton" type="button" onclick="saveSurvey();">Save Survey</button>

  </div>

</body>

</html>