<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Surveyor: Create Survey Page</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <script type="text/javascript" src="scripts/createSurvey.js"></script>
</head>
<body>
  <h2>Create Survey</h2>

  <div class="surveyTitle">
    <input type="text" placeholder="Survey Title">
  </div>

  <br>

  <div class="surveyQuestions">
    <button id="addQuestionButton" type="button">Add question</button>
  </div>

  <div id="addQuestion">



  </div>

  <div class="finishSurvey">
      <button type='button'>Finish Survey</button>
  </div>



  <script type="text/javascript">




  </script>

</body>
</html>