<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Surveyor: Create Survey Page</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="scripts/getrequest.js"></script>
    <script src="scripts/getRequestForOpenEndedQuestion.js"></script>
    <script src="scripts/getrequestForDropDownQuestion.js"></script>
</head>
<body>
<h2>Survey Created</h2>



</div>

<div class="finishSurvey">
    <button type='button' onclick="location.href='homePage'" >Go To The Main Page</button>
</div>



</div>
</body>
</html>